<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparador de Precios</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1 class="titulo">Bienvenido a nuestro comparador de precios en línea</h1>
    <form action="/search" method="get">
        <label for="product">Producto:</label>
        <input type="text" id="product" name="product" required>
        <button type="submit">Buscar</button>
    </form>
    <footer>
        <div class="autores">
            <p>Hecho por David Escorcia y Juan Porto</p>
            <p>Ingeniería de Sistemas Uninorte 2024</p>
        </div>
        <div class="tyc">
            <a>Términos y condiciones</a>
            <a>Política de privacidad</a>
            <a>Contacto</a>
        </div>
    </footer>
</body>
</html>