html{
    height: 100dvh;
}

body {
    width: 100%;
    height: 100%;
    font-family: "IBM Plex Serif", serif;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

body form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 95vw;
    height: 63.3vh;
}

h1.titulo {
    font-family: "IBM Plex Serif", serif;
    color: #333;
    text-align: center;
    margin-bottom: -15px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    margin-top: 33px;
}

footer div {
    display: flex;
    justify-content: space-evenly;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

footer .tyc{
    background-color: white;
    color: black;
}

footer .tyc{
    padding: 5px;
    background-color: white;
}

footer .tyc a{
    color: black;
}

footer .autores{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 10px;
}

footer .autores p{
    margin: 0;
}

footer .autores img{
    width: 250px;
    height: 100px;
}

footer a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fffefe;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
}

.back-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    margin-right: 10px; 
    font-size: 16px;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.dropdown-list.show {
    display: block;
}

.dropdown-option {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product {
    display: grid;
    grid-template-rows: max-content 1fr max-content min-content;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.product img {
    width: 200px;
    height: 200px;
}

.product h2 {
    margin: 0px;
    color: #505050;
    font-size: 18px;
}

h3 {
    display: flex;
    justify-content: center;
    align-self: center;
}

.price {
    color: #333;
    font-weight: bold;
    margin: 0px;
}

.product a {
    display: block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
}

.product a:hover {
    background-color: #0056b3;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-container button:hover {
    background-color: #0056b3;
}